<%= form_for([erp_mini_stores, :backend, article_category]) do |f| %>
    <div class="form-body">        
        <div class="row">
            <div class="col-md-6">
                <div class="portlet light bordered">
                    <div class="portlet-body form">
                        <%= erp_form_control("text", {
                            name: 'article_category[name]',
                            value: article_category.name,                   
                            label: t('.name'),
                            required: true,
                            errors: article_category.errors.full_messages_for(:name)
                        }) %>
                        <%= erp_form_control("dataselect", {
                            name: 'article_category[parent_id]',
                            value: article_category.parent_id,
                            text: article_category.parent_name,
                            placeholder: t('.choose_parent_article_category'),
                            label: t('.parent_article_category'),
                            url: erp_mini_stores.dataselect_backend_article_categories_path(format: 'json'),
                            create: {
                                url: erp_mini_stores.new_backend_article_category_path,
                                title: t('.create'),
                                container_selector: '.new_article_category',
                                input_selector: 'input[name="article_category[name]"]'
                            }
                        }) %>
                        <%= erp_form_control('select', {
                            label: t('.alias'),
                            name: 'article_category[alias]',
                            value: article_category.alias,
                            options: Erp::MiniStores::ArticleCategory.get_alias_options()
                        }) %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tabbable-custom ">
                <ul class="nav nav-tabs ">
                    <li class="active">
                        <a href="#tab_seo" data-toggle="tab"> <%= t('.seo') %> </a>
                    </li>
                    <li>
                        <a href="#tab_main_menu" data-toggle="tab"> <%= t('.main_menu') %> </a>
                    </li>
                </ul>
                <div class="tab-content order-details">
                    <div class="tab-pane addableform-table active" id="tab_property_group">
                        <%= erp_form_control("textarea", {
                            name: 'article_category[meta_keywords]',
                            value: article_category.meta_keywords,                   
                            label: t('.meta_keywords'),
                            placeholder: t('.enter_meta_keywords')
                        }) %>
                        <%= erp_form_control("textarea", {
                            name: 'article_category[meta_description]',
                            value: article_category.meta_description,                   
                            label: t('.meta_description'),
                            placeholder: t('.enter_meta_description')
                        }) %>
                    </div>
                    <div class="tab-pane" id="tab_main_menu">
                        <div class="row">
                            <div class="col-md-2">
                                <%= erp_form_control('image', {
                                    img_src: article_category.icon_main,
                                    name: 'article_category[icon_main]',
                                    label: t('.icon_main'),
                                    width: 50,
                                    height: 50
                                }) %>
                            </div>
                            <div class="col-md-10">
                                <div class="portlet light bordered">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <%= erp_form_control('checkbox', {
                                                name: 'article_category[is_main]',
                                                id: 'article_category_is_main',
                                                value: article_category.is_main,
                                                not_selected_value: 'false',
                                                label: t('.article_category_is_main'),
                                                help: t('.help_is_main'),
                                                options: [{value: 'true', text: t('.is_main')}]
                                            }) %>                                               
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%= erp_component('button/save', {
        text: t('submit')
    }) %>
    <%= erp_component('button/cancel', {
        text: t('cancel'),
        href: erp_mini_stores.backend_article_categories_path
    }) %>
<% end %>