<% content_for :title do %>
    <%= @article_category.name %>
<% end %>

<% content_for :page_title do %>    
    <a href="<%= erp_mini_stores.backend_article_categories_path %>">
    <i class="fa fa-folder"></i> <%= t('.article_categories') %>
    </a> / <%= @article_category.name %>
<% end %>

<% content_for :page_toolbar do %>
    <%= erp_component('button/create', {
        text: t('.create'),
        href: erp_mini_stores.new_backend_article_category_path,
        class: 'btn-noborder'
    }) %>
<% end %>

<div class="row">
    <div class="col-md-12">
        <% if @article_category.errors.any? %>
            <%= erp_form_control("form_error_message") %>
        <% end %>
        
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <%= render 'form', article_category: @article_category %>
        <!-- END SAMPLE FORM PORTLET-->
    </div>
</div>