<table class="table table-advance table-hover table-striped table-checkable order-column">
    <thead>
        <tr>
            <th width='1%'>
                <%= erp_datalist_check_all %>
            </th>
            <% if get_columns(params).include?("name") %>
                <th class="sortable" sort-by='erp_mini_stores_article_categories.name'>
                    <%= t('.name') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("parent_category") %>
                <th>
                    <%= t('.parent_category') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("status") %>
                <th>
                    <%= t('status') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("creator") %>
                <th>
                    <%= t('creator') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("created_at") %>
                <th class="sortable" sort-by='erp_mini_stores_article_categories.created_at'>
                    <%= t('created_at') %>
                </th>
            <% end %>
            <th width="7%" class="sortable text-nowrap" sort-by='erp_mini_stores_article_categories.custom_order'>
                <%= t('.custom_order') %>
            </th>
            <th width="7%"><%= t('actions') %></th>
        </tr>
    </thead>
    <tbody>
        <% @article_categories.each do |article_category| %>
            <tr class="odd gradeX">
                <td>
                    <%= erp_datalist_check_row(id: article_category.id) %>
                </td>
                <% if get_columns(params).include?("name") %>
                    <td><%= link_to article_category.full_name, erp_mini_stores.edit_backend_article_category_path(article_category), class: 'title' %></td>
                <% end %>
                <% if get_columns(params).include?("parent_category") %>
                    <td><%= article_category.parent_name %></td>
                <% end %>
                <% if get_columns(params).include?("status") %>
                <td>
                    <% if article_category.archived == true %>
                        <%= erp_component('label/danger', {
                            text: t('archived')
                        }) %>
                    <% else %>
                        <%= erp_component('label/success', {
                            text: t('active')
                        }) %>
                    <% end %>
                </td>
                <% end %>
                <% if get_columns(params).include?("creator") %>
                    <td>
                        <%= erp_component('avatar', {
                            user: article_category.creator
                        }) %>
                    </td>
                <% end %>
                <% if get_columns(params).include?("created_at") %>
                    <td><%= article_category.created_at.strftime("%d/%m/%Y") %></td>
                <% end %>
                <td class="text-center text-semibold">
                    <%= erp_datalist_order_column({
                        item: article_category,
                        move_up_url: erp_mini_stores.move_up_backend_article_categories_path(id: article_category),
                        move_down_url: erp_mini_stores.move_down_backend_article_categories_path(id: article_category),
                        sort_by: 'erp_mini_stores_categories.custom_order'
                    }) %>
                </td>
                <td class="text-right">
                    <%= erp_datalist_row_actions(
                        [
                            {
                                text: '<i class="fa fa-edit"></i> '+t('edit'),
                                href: erp_mini_stores.edit_backend_article_category_path(article_category)
                            },
                            {
                                text: '<i class="fa fa-ban"></i> '+t('archive'),
                                url: erp_mini_stores.archive_backend_article_categories_path(id: article_category),
                                data_method: 'PUT',
                                hide: article_category.archived,
                                class: 'ajax-link',
                                data_confirm: t('.archive_confirm')
                            },
                            {
                                text: '<i class="fa fa-check"></i> '+t('unarchive'),
                                url: erp_mini_stores.unarchive_backend_article_categories_path(id: article_category),
                                data_method: 'PUT',
                                hide: !article_category.archived,
                                class: 'ajax-link',
                                data_confirm: t('.unarchive_confirm')
                            },
                            {
                                divider: true
                            },
                            {
                                text: '<i class="fa fa-trash"></i> '+t('.delete'),
                                url: erp_mini_stores.backend_article_category_path(article_category),
                                data_method: 'DELETE',
                                class: 'ajax-link',
                                data_confirm: t('delete_confirm')
                            }
                        ]
                    ) %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>

<% if @article_categories.empty? %>
    <div class="datalist-empty-line"><%= t('.no_matching_records_found') %></div>
<% end %>

<%= erp_datalist_pagination(@article_categories) %>